<h5>About</h5>
<p>This webpage is a satirical take on the politically charged proscriptions against journalism and journalists in the
  era of Trump. This social media mock-up presents the option to vote for reactions to New York Times articles, but
  only negatively, in line with the President's black-and-white, with-me-or-against-me view of the world.</p>

<p>Article titles + links are scraped from the front page of the Times via Cheerio and saved in a MongoDB database. For
  more information on the technology used to produce this project, please see its <a href="https://github.com/evansimonross/The-Failing-New-York-Times">
    Github Repository</a>.</p>
{{#if loggedIn}}
<p><b>Click the button below to check for new articles!</b></p>
<button id="scrape" class="btn waves-effect waves-light">Scrape</button>
{{/if}}