{{#if signup}}
<h5>Sign Up</h5>
{{else}}
<h5>Log In</h5>
{{/if}}
<form id="userForm">
  <p><b>Username:</b></p>
  <input type="text" name="name">
  <p><b>Password:</b></p>
  <input type="password" name="password">
  {{#if signup}}
  <p><b>Password (confirm):</b></p>
  <input type="password" name="passwordConfirm">
  {{/if}}
  <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
</form>

{{#unless signup}}
<p>Don't have an account? <a href="/signup">Sign up now!</a></p>
{{/unless}}