@font-face{
    font-family: 'EnglishTowne';
    src: url('../fonts/EnglishTowne.ttf');
}

@font-face{
  font-family: 'PlaneCrash';
  src: url('../fonts/Plane\ Crash.ttf');
}

body{
  font-family: 'Cabin', sans-serif;
  background-image: 
    linear-gradient(
      rgba(255, 255, 255, 0.85), 
      rgba(255, 255, 255, 0.85)
    ),
    url('../images/textured_paper.png');
}

nav{
  background: url('../images/textured_paper.png');
  -webkit-box-shadow: 
    0 2px 2px 0 rgba(0,0,0,0.04), 
    0 3px 1px -2px rgba(0,0,0,0.02), 
    0 1px 5px 0 rgba(0,0,0,0.10);
  box-shadow: 
    0 2px 2px 0 rgba(0,0,0,0.04), 
    0 3px 1px -2px rgba(0,0,0,0.02),
    0 1px 5px 0 rgba(0,0,0,0.1);
}

h5, p, button{
  margin-left: 25px;
}

h5, p, button{
  padding-top: 10px;
}

input{
  position: relative;
  display: block;
  max-width: 90%;
  bottom: 15px;
  left: 5%;
}

textarea, li{
  margin-bottom: 25px;
  margin-left: 25px;
}

i{
  position: relative;
  top: 7.5px;
}

a, .highlighted, .vote:hover{
  color: #f15;
}

.vote:hover{
  cursor: pointer;
}

.hidden{
  visibility: hidden;
}

.headline {
  font-weight: 700;
  font-size: 1.625em;
}

.nyt{
  color: #000;
  font-family: 'EnglishTowne', fantasy;
}

.fail{
  font-family: 'PlaneCrash', sans-serif;
  position: relative;
  top: 2px;
}

.sidenav-trigger, nav ul a{
  color: #000;
}

.username{
  margin-left: 25px;
}

.timestamp{
  font-size: 0.5em;
  position: relative;
  left: 5px;
  bottom: 5px;
}